checkpoints/
eval/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.egg-link
*.log
*.log.*
*.log.*.gz
*.log.*.zip
*.log.*.tar.gz
*.log.*.tar.bz2
*.log.*.tar.xz
*.log.*.tar
*.log.*.7z
*.log.*.zip
*.log.*.rar
*.log.*.tar.7z
*.log.*.tar.rar
*.log.*.tar.zip
*.log.*.tar.bz2
*.log.*.tar.gz
test.ipynb
*.txt
wandb/
train_data/*
test_data/*
train_data
test_data
train.npy
test.npy
eval*/
outputs/